#style.css

.body {
  background-color:#D3D3D3;
  color: #FFFF;
  min-height: 500vh;
  padding:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}

.container {
  background-color:#D3D3D3;
  border-radius: 3rem;
  border: 7px solid #0000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

 
 .generatePassword{
  background-color:#000;
  color:#ff0000;
  justify-content: center;
  align-items: center;
  border: 3px dotted #000;
}

.btn btn-info{
  background-color:#000;
  color:#ff0000;
  justify-content: center;
  align-items: center;
  border: 3px dotted #000;
}


.title {
  margin:0;
  text-align:center;
  font-family:'Lucida Sans';
}

.label{
  font-weight:normal;

}

  
